<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connections</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/CSS" href="../assets/stylesheets/styles.css">
</head>
<body>

    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navigation.ejs') %>

    <div class="connect">
        <% console.log("swd"+categories.length); %>
        <% for(var i = 0; i < categories.length; i++) { %>
            <h4> <%= categories[i] %> </h4>
            <% for(var j = 0; j < connection.length; j++) { %>
                <% if(connection[j].topic === categories[i]) { %>
                <a href="/connections?connectionId=<%= connection[j].Id %>"><%= connection[j].Name %></a><br>
                <%	}  %>
            <% } %>
        <% } %>
    </div>
    
    <%- include ('partials/footer.ejs') %>

</body>
</html>